
    <div div class="row">
        <div class="col-md-12">
            <h6 class="pull-left"><b>Welcome Username,</b></h6><h6 class="pull-right"><b>Log Out</b></h6>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h6 class="pull-left"><b>View Account</b></h6><h6 class="pull-right"><b>Account Balance: $786</b></h6>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h6 class="pull-left"><b>Sort By</b></h6>
            <select style="margin-left: 4px;margin-top: 5px;">
                <option>Rating</option>
            </select>
            <h6 class="pull-right"><b>Help</b></h6>
        </div>
    </div>


    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12 info">
            <p>Do you want this page reference added? Click below and we will work on adding this references.</p>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-default btn-sm">Request this page</button>
        </div>
    </div>







