

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">

            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="enter user name" ng-model="userName">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" ng-model="password">
                </div>


            </form>

        </div>
    </div>
    <div class="row" style="margin-top: 3px;">
        <div class="col-md-12 text-center">

            <button type="button" class="btn btn-primary btn-sm" ng-click="login()">Login</button>
        </div>

    </div>
<div class="row" ng-show="isUserAuthenticated">
    <div class="col-md-12" style="margin-top:10px;">
        <div class="alert alert-warning" role="alert">Username/Password is wrong !</div>
    </div>
</div>

    <div class="row" style="margin-top: 8px;">
        <div class="col-md-12">
            <span class="links">Forget Password?</span>
            <span class="links" style="margin-left: 5px;">Create New Account</span>
            <span class="links" style="margin-left: 8px;">Learn More</span>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12 text-center info">
            <p>Do you want this page reference added? Click below and we will work on adding this references.</p>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-info btn-sm">Request this page</button>
        </div>
    </div>

